body{
    width:100vw;
    height: auto;
    margin: 0px;

    display: grid;
    grid-template-areas:"head""main""foot";
}

header{
    grid-area: head;
    background-color: aliceblue;
    height: 10vh;
}

main{
    grid-area: main;
    background-color:#27ae60;
    height: 400vh;

    display: grid;
    grid-template-areas:"sec0""sec1""sec2""sec3";
    grid-template-rows: repeat(4,1fr);
}

#homescreen{
    grid-area: sec0;
    width: 100%;
    margin: 0px;

    background-color: aquamarine;
}

#sec1{
    grid-area: sec1;
    width: 100%;

    background-color:burlywood;
}
#sec2{
    grid-area: sec2;
    width: 100%;

    background-color:blueviolet;
}
#sec3{
    grid-area: sec3;
    width: 100%;

    background-color:khaki;
}


footer{
    grid-area: foot;
    background-color:blue;
    height: 35vh;
}
