body{
    width:100vw;
    height: auto;
    margin: 0px;

    display: grid;
    grid-template-areas:"head""main""foot";
}

header{
    grid-area: head;
    background-color: #27ae60;
    height: 7vh;
}

main{
    grid-area: main;
    background-color:#ecf0f1;
    height: auto;

    display: grid;
    grid-template-areas:"sec0""sec1""sec2""sec3";
    grid-template-rows: auto auto auto auto;
}

#homescreen{
    grid-area: sec0;
    width: 100%;
    height: 100vh;
    
    margin: 0px;
    background-image: url(/img/ezgif-3b26f8aa136b289c.gif);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: end;
    flex-wrap: wrap;
}

#titlecard{
    display: inline-block;
    font-size: 9vh;
    width: 100%;
    text-align: center;
    color: white;    
}

#explore_button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vh;
    display: block;
    padding:5px;
    border-radius:1vh;
    background-color:#27ae60;
    color: white;
}

#transition{
    width: 100%;
    height: 30%;
}


#sec1{
    grid-area: sec1;
    width: 100%;
    height: max-content;
    margin: 0px;
    padding: 0px 0px 15px 0px;

    background-color:#ecf0f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#sec1box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;

    width: 80%;
    height: 30vh;
}

.sec1obj{
    display: block;
    margin: 1%;
    width: 1fr;
    height:100%;
    position: relative;
    text-align: center;
    background-color: #27ae60;

    border: 0.5vw;
    border-style: solid;
    border-color: #27ae60;
    border-radius: 13px;
}

.sec1img:hover{
    filter:brightness(110%);
}

.sec1img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.sec1text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vh;
    color: white;
    display: block;
    z-index: auto;
    position: absolute;
    margin: 0px;
    right: 0px;
    bottom: 0px;

    background-color: #27ae60;
    padding: 3%;
}


#sec2{
    grid-area: sec2;
    margin: auto;
    width: 100%;
    
    background-color:#27ae60;
}

#globe{
    width: max-content;
}

#sec3{
    grid-area: sec3;
    width: 100%;
    padding: 1% 0% 0% 0%;

    background-color:#ecf0f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.sec3obj{
    margin: 0px 10px 20px 10px;
    width:25%;
    height: min-content;

    border-radius: 10px;
    background-color: #27ae60;
    box-shadow: rgba(39,174,96, 0.5) 0px 0px 5px 5px;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    display: block;
    margin: 1% 2% 2% 13%;
    width: 100%;
    height: min-content;
}
.sec3img{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}


h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 01% 0px 0px 3%;
    font-size: 150%;
}

.sec3text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2% 0px 0px 3%;
    font-size: 100%;
}

.readmore{
    display: block;
    width: max-content;
    background-color: antiquewhite;
    margin: 10px 0px 10px 3%;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    
}


footer{
    grid-area: foot;
    background-color:blue;
    height: 35vh;
}
