body{
    background-color:#27ae60;
    width:100vw;
    height: auto;
    margin: 0px;
    display: grid;
}

#index{
    grid-template-areas:"head""main""foot";
    grid-template-rows: auto auto auto;
}

#blogs{
    grid-template-areas:"head""blogsmain""foot";
    grid-template-rows: auto auto auto;
    background-color: #ecf0f1;
}

#about{
    grid-template-areas:"head""con""foot";
    grid-template-rows: auto auto auto;
    background-color:#ecf0f1;
}

header{
    grid-area: head;
    background-color: #27ae60;
    height: 8vh;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index:99;
    border-bottom: 1px solid #1e8449;
    
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.headtext{
    color: #ecf0f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 3vw;
    font-size: 150%;
}

#icon{
    height: 90%;
    margin-left: 3vw;
    margin-right: auto;
}

.headtext:hover{
    color: white;
}

a{text-decoration: none;}

.titel{
    width: 100%;
    
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: end;
    flex-wrap: wrap;

}

.titelcard{
    display: inline-block;
    text-shadow: 1px 1px 2px black;
    font-size: 9vh;
    width: 100%;
    text-align: center;
    color: #ecf0f1;    
}

.credits{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px black;
    font-size: 10px;
    color:#ecf0f1;
    display: block;
    z-index: auto;
    position:absolute;
    right: 0px;
    bottom: 0px;
    margin: 1%;
}

/* INDEX */
main{
    grid-area: main;
    background-color:#ecf0f1;
    height: auto;
}

#indexmain{
    display: grid;
    grid-template-areas:"sec0""sec1""sec2""sec3";
    grid-template-rows: auto auto auto auto;
}

#indextitel{
    grid-area: sec0;
    height: 100vh;
    background-image: url(/img/ezgif-3b26f8aa136b289c\(1\).gif);
}

#blogs_button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vh;
    display: block;
    padding:5px;
    border-radius:1vh;
    background-color:#27ae60;
    color: white;
}

#transition{
    width: 100%;
    height: 25vh;
}


#sec1{
    grid-area: sec1;
    width: 100%;
    height: max-content;
    margin: 0px;
    padding: 0px 0px 15px 0px;

    background-color:#ecf0f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#sec1box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;

    width: 80%;
    height: 30vh;
}

.sec1obj{
    display: block;
    margin: 1%;
    height:100%;
    position: relative;
    background-color: #27ae60;

    border: 0.5vw;
    border-style: solid;
    border-color: #27ae60;
    border-radius: 13px;
}

.sec1img:hover{
    filter:brightness(110%);
}

.sec1img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.sec1text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vh;
    color: white;
    display: block;
    z-index: auto;
    position: absolute;
    margin: 0px;
    right: 0px;
    bottom: 0px;

    background-color: #27ae60;
    padding: 3%;
}


#sec2{
    grid-area: sec2;
    margin: auto;
    width: 100%;
    
    background-color:#27ae60;
}

#globe{
    width: max-content;
}

.readmore{
    display: block;
    width: max-content;
    background-color: antiquewhite;
    margin: 10px 0px 10px 3%;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 200%;
    display: block;
    margin: 1% 2% 2% 13%;
    width: 100%;
    height: min-content;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 01% 0px 0px 3%;
    font-size: 150%;
}

footer{
    grid-area: foot;
    background-color:blue;
    height: 35vh;
}

/* axplorer */

    
#blogsmain{
    grid-area: blogsmain;
    display: block;
    height: auto;
    display: flex;
    flex-direction: column;
}

#blogstitel{
    width: 100%;
    height: 60vh;
    
    margin: 0px;
    background-image: url(/img/pexels-pixabay-220660.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: end;
    flex-wrap: wrap;
}

.margintitelcard{
    margin: 20vh 0px 4vh 0px;
}

#blogssec{
    grid-area: sec3;
    width: 100%;
    padding: 1% 0% 0% 0%;

    background-color:#ecf0f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.blogssecobj{
    margin: 0px 10px 20px 10px;
    width:25%;
    height: min-content;

    border-radius: 10px;
    background-color: #27ae60;
    box-shadow: rgba(39,174,96, 0.5) 0px 0px 2px 2px;
}

.blogssecimg{
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    position: relative;
}

.blogssectext{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2% 0px 0px 3%;
    font-size: 100%;
}


/* about */
#aboutmain{grid-area: con;}

#abouttitel{
    height: 60vh;
    background-image: url(/img/pexels-pixabay-220660.jpg);
    background-position: left;
}

.aboutsec{
    background-color: #ecf0f1;
    display: flex;
    margin: 25px auto 120px auto;
    width: 70vw;

    padding: 10px;
    border-color: rgb(220, 220, 220);
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    
}

.about_textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;
    color: rgb(0, 60, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#flip{
    flex-direction: row-reverse;
}

.imga{
    display: block ;
    width: 30vw;
    border-radius: 5px;
}

.abouttext{
    font-size: 13px;
}